doctype html
html(ng-app="OM")
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8;")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/jquery-ui-1.10.2.custom.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/lib/angular/angular.min.js')
    script(src='/lib/angular/angular-route.min.js')
    script(src='/lib/angular/angular-sanitize.min.js')
    script(src='/javascripts/index.js')
  body(ng-controller="InDexCoNtrOllEr")
    block content
